
  <h1><strong>{{titlea}}</strong> {{titleb}}</h1>

  <div class="pt-triggers">
    
    {{#if switch}}
      <label fpr="test">hello</label>
      <label class="switch">
        <input id="test" type="checkbox">
        <div class="slider round"></div>
      </label>
    {{/if}}

    {{#if slider}}
      <label fpr="test2">hello</label>
      <input id="test2" type="range" style="width:100%">
    {{/if}}

    {{#if input}}
      {{#input}}
          <label for="{{id}}">test</label>
          <input id="{{id}}" type="text" name="{{id}}">
      {{/input}}
    {{/if}}

    {{#if users}}
      <ul id="users"></ul>
    {{/if}}

    {{#if spinner}}
      <div class="spinner sk-rotating-plane"></div>
    {{/if}}

    {{#if buttons}}
      {{#buttons}}
        <button id="{{id}}" class="pt-touch-button {{class}}"
        {{#if data}}
          {{#data}}
            data-{{name}}="{{value}}"
          {{/data}}
        {{/if}}
        >{{title}}</button>
      {{/buttons}}
    {{/if}}

  </div>
